/.asciidoctor
/.ipynb_checkpoints
/.nfs000000001832de610002ce95
/ClearVision_issues.html
/Revised Proposal.html
/Untitled.ipynb
/__pycache__
/bug1.xml
/cvxConst.py.bak
/cvxConst.pyc
/cvxDataDefs.py.bak
/cvxDataDefs.pyc
/cvxDialogs.py.bak
/cvxDialogs.pyc
/cvxKernelDefs.py.bak
/cvxKernelDefs.pyc
/cvxMain.pyc
/cvxMenus.py.bak
/cvxMenus.pyc
/cvxPreferences.pyc
/cvxTabs.py.bak
/cvxTabs.pyc
/cvxXML.py.bak
/cvxXML.pyc
/cvxtestobject.py.bak
/cvxtestobject.pyc
/googlenet
/graph.bmp
/graph.dot
/graph.gif
/graph.jpg
/graph.svg
/graph.svgz
/graph.wbmp
/newone.xml
/saved.vx.xml
/test.vx..saved.xml
/test.vx.saved.xml
/test.vx.xml
/test.vx.xml.gz
/test2.xml